body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

.title {
  /* text-align: center; */
  margin-top: 20px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.2em;
  color: #101d54;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
}

.brand-card {
  width: 100%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
}

.brand-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .brand-card {
    width: 100%;
    max-width: 300px;
  }
}

.fa-star {
  color: #ffcc00;
  font-size: 16px;
}

a {
  text-decoration: none !important;
  color: #101d54;
}

.description {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  margin-top: 0px;
  text-align: justify;
}

.position {
  font-size: 24px;
  font-weight: 700;
}

.bonus {
  font-size: 24px;
  font-weight: bold;
}

.more-bonus {
  font-size: 18px;
  font-weight: 500;
}
